doctype 5
html(lang='en')
  head
    meta(charset='utf-8')
    title HowAbout

    // build:css styles/style.usemin.css
    link(href='bower_components/bootstrap/dist/css/bootstrap.css', media='screen', rel='stylesheet', type='text/css')
    link(href='bower_components/font-awesome/css/font-awesome.css', rel='stylesheet', type='text/css')
    link(href='styles/docs.css', rel='stylesheet', type='text/css')
    link(href='styles/style.css', rel='stylesheet', type='text/css')
    // endbuild
  
  body(ng-controller='MainController')
    div(ng-view)

    div(ng-include='"views/player.html"', onload='onPlayerLoaded()')

    // build:js scripts/script.usemin.js
    script(type='text/javascript', src='bower_components/jquery/jquery.js')
    script(type='text/javascript', src='bower_components/bootstrap/dist/js/bootstrap.js')
    script(type='text/javascript', src='bower_components/angular/angular.js')
    script(type='text/javascript', src='bower_components/angular-resource/angular-resource.js')
    script(type='text/javascript', src='bower_components/soundmanager/script/soundmanager2.js')
    script(type='text/javascript', src='scripts/prepareApp.js')
    script(type='text/javascript', src='scripts/services/Track.js')
    script(type='text/javascript', src='scripts/services/RecommendedTrack.js')
    script(type='text/javascript', src='scripts/services/PlayInfo.js')
    script(type='text/javascript', src='scripts/services/PlayInfoSharedService.js')
    script(type='text/javascript', src='scripts/services/PlaylistSharedService.js')
    script(type='text/javascript', src='scripts/controllers/MainController.js')
    script(type='text/javascript', src='scripts/controllers/PlayerController.js')
    script(type='text/javascript', src='scripts/initApp.js')
    // endbuild
    