header.navbar.navbar-inverse.navbar-fixed-top.bs-docs-nav(role='banner')
  .container
    .navbar-header
      a.navbar-brand(href='#/') 이거어때?
      .pull-right
        form.navbar-search
          input(type='text', placeholder='제목 또는 가수 이름')
          button#search-button 검색
